html {
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {line-height:1.2px;}

a{color:#999;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

a,span{
    line-height:1px;
}
